.crewTitle {
  position: absolute;
  width: 34.86%;
  height: 7.11%;
  left: 11.49%;
  top: 44.44%;

  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.31rem;

  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.crewName {
  position: absolute;
  width: 63.89%;
  height: 7.11%;
  left: 11.49%;
  top: 50.2%;

  font-family: Bellefair;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 4rem;
  text-transform: uppercase;

  color: #ffffff;
}

.crewDesc {
  position: absolute;
  width: 30.8%;
  height: 14.22%;
  left: 11.49%;
  top: 60.33%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #d0d6f9;
}

.crewNav {
  position: absolute;
  width: 9.16%;
  height: 1.66%;
  left: 11.6%;
  top: 87.88%;
  display: flex;
  justify-content: space-between;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.17;
}

.dotActive {
  opacity: 1;
}