.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  position: absolute;
  width: 31.25%;
  height: 42.44%;
  left: 11.46%;
  top: 43%;
}
